.git

__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*$py.class
.Python
.pytest_cache
.coverage
.coveragerc

*.egg-info/
*.egg
dist/
build/
*.onnx
*.pth

.venv/
env/
venv/
ENV/

.idea/
.vscode/
*.swp
*.swo

*.pth
*.tar*

.env
Kokoro-82M/
ui/data/
EXTERNAL_UV_DOCUMENTATION*
app
api/temp_files/

Dockerfile*
docker-compose*
examples/ebook_test/chapter_to_audio.py
examples/ebook_test/chapters_to_audio.py
examples/ebook_test/parse_epub.py
api/src/voices/af_jadzia.pt
examples/assorted_checks/test_combinations/output/*
examples/assorted_checks/test_openai/output/*

examples/*.wav
examples/*.pcm
examples/*.mp3
examples/*.flac
examples/*.acc
examples/*.ogg
examples/speech.mp3
examples/phoneme_examples/output/*.wav
examples/assorted_checks/benchmarks/output_audio/*
uv.lock

.venv-mps